body {
    font-family: "Playfair Display", serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}
.backgroud {
    background: linear-gradient(0deg, #f0ffff 10%, #c4f4f5 100%);
    

}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1, h2 {
    color: #333;
    text-align: center;
}

h1 {
    font-size: 45px ;
}

.input-container {
    margin-bottom: 15px;
    text-align: center;    
}

label {
    font-weight: bold;
}

input[type="text"], button {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #87ceeb;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

button:hover {
    background-color: #4e8ee0;
}

.chart-container {
    margin-top: 20px;
}